.result-page {
    padding: 0 20px;
}
.results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.results-title h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: grey;
}
.search-result-cards {
    position: relative;
    height: 23vh;
    margin-bottom: 10px;
}
.results img {
    width: 240px;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 1px;
}

@media only screen and (min-width: 1024px) {
    .results-title h1 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1023px) {
    .results img {
        width: 23vw;
        margin-right: 3px;
        border-radius: 1px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 800px) {
    .results img {
        width: 23vw;
        margin-right: 2px;
        border-radius: 1px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 600px) {
    .results img {
        width: 30vw;
        margin-right: 2px;
        border-radius: 1px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 500px) {
    .results-title h1 {
        font-size: 1.1rem;
    }
    .results img {
        width: 44vw;
        margin-right: 2px;
        border-radius: 1px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .results-title h1 {
        font-size: 1rem;
    }
    .results img {
        width: 42vw;
        margin-right: 2px;
        border-radius: 1px;
    }
}