.banner {
    width: 100%;
    height: 720px;
    background-image: url('https://wallpaperaccess.com/full/2703652.png');
    background-size: 100% 720px;
    background-position: top;
    background-repeat: no-repeat;
}
.content {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(37,37,37,.7),rgba(37,37,37,.1));
}
.details {
    height: fit-content;
    padding: 17% 50px 50px 30px;
}
.details .movie-title {
    font-size: 3rem;
}
.details .movie-des {
    font-size: 1rem;
    max-width: 400px;
    margin: 10px 0;
}
.details button {
    border: none;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}
.details .play-btn {
    color: black;
    width: 100px;
    cursor: pointer;
}
.details .info-btn {
    background-color: rgba(132, 130, 130, 0.6);
    color: white;
    width: 150px;
    cursor: pointer;
}
.play-btn:hover {
    background-color: rgb(194, 193, 193);
}
.info-btn:hover {
    background-color: rgba(153, 152, 152, 0.6);
}